<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.first.mapper.BoardMapper">

<select id="getList" resultType="com.first.domain.BoardVO">
<![CDATA[
select * from table_board where bno > 0
]]>
</select>

<select id = "insert" >
insert into table_board(bno , title , content , writer )
    values (seq_board.nextval , #{title} , #{content} , #{writer})
</select>

<select id = "getBoard" resultType = "com.first.domain.BoardVO">
	select * from table_board where bno = #{bno}
</select>

</mapper>